<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Thông tin tài khoản</title>
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
	<th:block th:insert="~{_header}"></th:block>
</head>

<body>

	<th:block th:insert="~{_menu}"></th:block>
	<div class="page-title">Thông tin tài khoản</div>
	<div class="user-container">
		<ul>
			<li>Tên đăng nhập: <span th:utext="${#authentication.name}"></span></li>
			<li>
				Vai trò:
				<ul>
					<li th:each="auth : ${userDetails.authorities}" th:utext="${auth.authority}"></li>
				</ul>
			</li>
		</ul>
	</div>

	<th:block th:insert="~{_footer}"></th:block>

</body>

</html>
