<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Giỏ hàng</title>
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
	<th:block th:insert="~{_header}"></th:block>
</head>
<style>

</style>

<body>

	<th:block th:insert="~{_menu}"></th:block>


	<th:block th:if="${cartForm == null || cartForm.cartLines == null || cartForm.cartLines.empty}">
		<h2>Giỏ hàng chưa có sản phẩm</h2>
		<a th:href="@{/productList}">Xem danh sách tòa nhà</a>
	</th:block>

	<div class="container cart_bag">
		<h2 style="font-weight: bold;">GIỎ HÀNG</h2>
		<div class="row">
			<div class="col-lg-8 col-sm-8 col-xs-12">
				<table class="table">

					<th:block th:if="${cartForm != null && cartForm.cartLines != null && !cartForm.cartLines.empty}">
						<form method="POST" th:object="${cartForm}" th:action="@{/shoppingCart}">

							<div class="building-preview-container" th:each="cartLineInfo, varStatus : ${cartForm.cartLines}">
								<tr>
									<td><img th:src="@{|/productImage?code=${cartLineInfo.productInfo.code}|}" width="190px"></td>
									<td>
										<b style="color: #000;font-size:16px; font-weight: 600"
											th:utext="${cartLineInfo.productInfo.name}"></b>
										<p style="font-size: 14px;">CORE BLACK / CORE BLACK / CORE BLACK<br>
											DIỆN TÍCH: M 7.5 / W 8.5<br>
											GIÁ: <span th:utext="${cartLineInfo.productInfo.price}"></span>
										</p>


										<input type="hidden" th:name="|cartLines[${varStatus.index}].productInfo.code|"
											th:value="${cartLineInfo.productInfo.code}" />
										<a href="" style="margin-right: 10px;">Thêm vào yêu thích</a>
										<a th:href="@{|/shoppingCartRemoveProduct?code=${cartLineInfo.productInfo.code}|}"
											style="margin-right: 10px;"> Xóa</a>
									</td>
									<td> <input type="text" th:name="|cartLines[${varStatus.index}].quantity|"
											th:value="${cartLineInfo.quantity}" class="form-control" style="width: 50px; height: 35px;">

									</td>
									<td>$<span th:utext="${cartLineInfo.amount}"></span></td>
								</tr>
							</div>

							<tr>
								<td colspan="7" align="right">
									<input class="btn btn-dark" type="submit" value="Cập nhật số lượng" />
									<a th:href="@{/productList}" style="margin-left: 20px;">Tiếp tục xem tòa nhà</a>
									<a th:href="@{/shoppingCartCustomer}">Thanh toán</a>

								</td>
								<td></td>
								<td></td>
							</tr>


						</form>
					</th:block>
				</table>
			</div> <!-- -----col-lg-8 col-sm-8 col-xs-12 end --- -->
			<div class="col-lg-4 col-sm-4 col-xs-12">
				<h5 style="font-weight: bold;">TÓM TẮT</h5>
				<table class="table cart-subtotal">
					<tr>
						<td>
							Bạn có mã khuyến mãi? <i class="fas fa-chevron-down"></i> <i
								class="fas fa-question-circle"></i><br><br>
							Tạm tính <i class="fas fa-question-circle"></i><br><br>
							Số lượng <br><br>
							Phí vận chuyển dự kiến<br><br>
							Thuế dự kiến
						</td>
						<td>
							<br><br>
							$<span th:utext="${myCart.amountTotal}"></span><br><br>
							[<span th:utext="${myCart.quantityTotal}"></span> mục]<br><br>
							FREE<br><br>
							$0.0
						</td>

					<tr>
						<td><b>TỔNG CỘNG</b></td>
						<td><b>$<span th:utext="${myCart.amountTotal}"></span></b></td>
					</tr>




				</table>

				<a th:href="@{/shoppingCartCustomer}" class="btn btn-dark btn-lg btn-block">THANH TOÁN <span
						class="fa fa-arrow-right" style="margin-left: 9px;"></span></a>

				<a href="https://www.paypal.com/webapps/hermes?token=EC-7N9771196T667744L"
					class="btn btn-outline-light btn-lg btn-block"><img
						src="https://www.nike.com/assets/experience/pet/payment-icons/paypal@2x.png"></a>

				<br><br>
				<h5 style="font-weight: bold;">PHƯƠNG THỨC THANH TOÁN ĐƯỢC HỖ TRỢ</h5><br>
				<img
					src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/visa-master-amex-disc-pp-apple-affirm_tcm221-444412.png">


			</div>
		</div>
	</div>


	<!-- ------------------------------footer end---------------------------------- -->



	<th:block th:include="_footer"></th:block>

</body>

</html>
