<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Hoàn tất đơn hàng</title>
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
	<th:block th:insert="~{_header}"></th:block>
</head>

<body>

	<th:block th:insert="~{_menu}"></th:block>

	<div class="page-title">Hoàn tất</div>
	<div class="container">
		<h3>Cảm ơn bạn đã đặt hàng</h3>
		Mã đơn hàng của bạn là: <span th:utext="${lastOrderedCart.orderNum}"></span>
	</div>

	<th:block th:include="_footer"></th:block>

</body>

</html>
