<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Estate Building Admin - List</title>
	<th:block th:replace="~{admin/common/header :: header}"></th:block>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body class="no-skin" style="font-family: &quot;Abel&quot;, sans-serif">
	<th:block th:replace="~{admin/common/menu :: menu}"></th:block>

	<div class="modal fade" id="modal-select-staff" tabindex="-1" role="dialog"
		aria-labelledby="assignmentBuildingModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="assignmentBuildingModalLabel">
						Chọn Nhân Viên
					</h5>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<table id="selectStaff" class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th class="center">
										<label class="pos-rel">
											<input type="checkbox" class="ace" />
											<span class="lbl"></span>
										</label>
									</th>
									<th class="center">Nhân Viên</th>
								</tr>
							</thead>
							<tbody>


							</tbody>
						</table>

						<input type="hidden" id="assigned-building-id" value="" />
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">
					Đóng
				</button>
				<button type="button" class="btn btn-success" id="btn-assign-building">Xác Nhận</button>
			</div>
		</div>
	</div>
	</div>

	<div class="main-container" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.check("main-container", "fixed");
			} catch (e) { }
		</script>
		<th:block th:replace="~{admin/common/sidebar :: sidebar}"></th:block>
		<div class="main-content">
			<div class="main-content-inner">
				<div class="breadcrumbs" id="breadcrumbs">
					<script type="text/javascript">
						try {
							ace.settings.check("breadcrumbs", "fixed");
						} catch (e) { }
					</script>
					<ul class="breadcrumb">
						<li>
							<i class="ace-icon fas fa-home home-icon"></i>
							<a href="#">Home</a>
						</li>
						<li class="active">Dashboard</li>
					</ul>
					<!-- /.breadcrumb -->
				</div>
				<div class="page-content container-fluid">
					<div class="page-header">
						<h1>
							Tìm Kiếm Tòa Nhà
							<small>
								<i class="ace-icon fas fa-angle-double-right"></i>
								overview &amp; stats
							</small>
						</h1>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="widget-box">
								<div class="widget-header">
									<h4 class="widget-title">Tìm Kiếm</h4>
									<span class="widget-toolbar">
										<a th:href="@{/admin/buildings/list}">
											<i class="ace-icon fa fa-refresh"></i>
										</a>
										<a href="#" data-action="collapse">
											<i class="ace-icon fa fa-chevron-up"></i>
										</a>
										<a href="#" data-action="close">
											<i class="ace-icon fa fa-times"></i>
										</a>
									</span>
								</div>
								<div class="widget-body">
									<div class="widget-main">
										<form class="form-horizontal" id="form-search-building" th:action="@{list}" method="get">
											<div class="row">
												<div class="form-group">
													<div class="col-xs-12">
														<div class="col-sm-6">
															<label for="name">Tên Tòa Nhà</label>
															<input type="text" id="name" name="name" class="form-control"
																placeholder="Tên Tòa Nhà ..." th:value="${searchData.name}" />
														</div>
														<div class="col-sm-6">
															<label for="floorArea">Diện Tích Sàn</label>
															<input type="number" id="floorArea" name="floorArea" class="form-control"
																placeholder="Diện Tích Sàn ..." th:value="${searchData.floorArea}" />
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group">
													<div class="col-xs-12">
														<div class="col-sm-2">
															<label for="district">Quận</label>

															<select class="form-control" id="select-district" name="district">
																<option value="">-Chọn Quận-</option>
																<option th:each="district : ${districts}" th:value="${district.key}"
																	th:selected="${district.key == searchData.district}" th:text="${district.value}">
																</option>
															</select>
														</div>
														<div class="col-sm-5">
															<label for="ward">Phường</label>
															<input type="text" id="ward" name="ward" class="form-control" placeholder="Tên Phường ..."
																th:value="${searchData.ward}" />
														</div>
														<div class="col-sm-5">
															<label for="street">Đường</label>
															<input type="text" id="street" name="street" class="form-control"
																placeholder="Tên Đường ..." th:value="${searchData.street}" />
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group">
													<div class="col-xs-12">
														<div class="col-sm-4">
															<label for="numberOfBasement">Số Tầng Hầm</label>
															<input type="number" id="numberOfBasement" name="numberOfBasement" class="form-control"
																placeholder="Số Tầng Hầm ..." th:value="${searchData.numberOfBasement}" />
														</div>
														<div class="col-sm-4">
															<label for="direction">Hướng</label>
															<input type="text" id="direction" name="direction" class="form-control"
																placeholder="Hướng ..." th:value="${searchData.direction}" />
														</div>
														<div class="col-sm-4">
															<label for="level">Hạng</label>
															<input type="text" id="level" name="level" class="form-control" placeholder="Hạng ..."
																th:value="${searchData.level}" />
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group">
													<div class="col-xs-12">
														<div class="col-sm-3">
															<label for="minFloorArea">Diện Tích Từ</label>
															<input type="number" id="minRentArea" name="minRentArea" class="form-control"
																placeholder="Diện Tích Từ ..." th:value="${searchData.minRentArea}" />
														</div>
														<div class="col-sm-3">
															<label for="maxFloorArea">Diện Tích Đến</label>
															<input type="number" id="maxRentArea" name="maxRentArea" class="form-control"
																placeholder="Diện Tích Đến ..." th:value="${searchData.maxRentArea}" />
														</div>
														<div class="col-sm-3">
															<label for="minRentPrice">Giá Thuê Từ</label>
															<input type="number" id="minRentPrice" name="minRentPrice" class="form-control"
																placeholder="Giá Thuê Từ ..." th:value="${searchData.minRentPrice}" />
														</div>
														<div class="col-sm-3">
															<label for="maxRentPrice">Giá Thuê Đến</label>
															<input type="number" id="maxRentPrice" name="maxRentPrice" class="form-control"
																placeholder="Giá Thuê Đến ..." th:value="${searchData.maxRentPrice}" />
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group">
													<div class="col-xs-12">
														<div class="col-sm-4">
															<label for="managerName">Tên Quản Lí</label>
															<input type="text" id="managerName" name="managerName" class="form-control"
																placeholder="Tên Quản Lí ..." th:value="${searchData.managerName}" />
														</div>
														<div class="col-sm-4">
															<label for="managerPhone">SĐT Quản Lí</label>
															<input type="text" id="managerPhone" name="managerPhone" class="form-control"
																placeholder="SĐT Quản Lí ..." th:value="${searchData.managerPhone}" />
														</div>
														<div class="col-sm-4">
															<label for="staffId">Chọn Nhân Viên</label>
															<select name="staffId" id="select-staff" class="form-control">
																<option value="">-Chọn Nhân Viên-</option>
																<option th:each="staff: ${staffs}" th:value="${staff.key}"
																	th:selected="${staff.key == searchData.staffId}" th:text="${staff.value}">
																</option>
															</select>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group">
													<div class="col-xs-12">
														<div class="col-xs-12" id="list-renttypes">
															<label th:each="type : ${typeCodes}" class='checkbox-inline'>
																<input type='checkbox' name='typeCodes' th:value="${type.key}" th:text="${type.value}"
																	th:checked="${searchData != null and searchData.typeCodes != null and #lists.contains(searchData.typeCodes, type.key)}">
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group">
													<div class="col-xs-12">
														<div class="col-xs-12 center">
															<button type="submit" class="btn btn-success btn-sm" id="btn-search-building">
																<i class="ace-icon fa fa-search"></i>
																Tìm Kiếm
															</button>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="pull-right">
								<a th:href="@{/admin/buildings/create}">
									<button class="btn btn-app btn-success btn-sm" title="Thêm tòa nhà">
										<i class="ace-icon fi bi-building-fill-add bigger-230"></i>
									</button>
								</a>
								<button class="btn btn-app btn-danger btn-sm" title="Xóa tòa nhà" id="delete-buildings">
									<i class="ace-icon fi bi-building-dash bigger-230"></i>
								</button>
							</div>
						</div>
					</div>
					<div class="hr hr-18 hr-double dotted"></div>
					<div class="row">
						<div class="col-xs-12">
							<table id="building-list-table" class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th class="center">
											<label class="pos-rel">
												<input type="checkbox" class="ace" />
												<span class="lbl"></span>
											</label>
										</th>
										<th>Tên Tòa Nhà</th>
										<th>Địa Chỉ</th>
										<th>Số Tầng Hầm</th>
										<th>Tên Quản Lí</th>
										<th>SĐT Quản Lí</th>
										<th>Diện Tích Sàn</th>
										<th>Diện Tích Thuê</th>
										<th>Diện Tích Trống</th>
										<th>Giá Thuê</th>
										<th>Phí Dịch Vụ</th>
										<th>Phí Môi Giới</th>
										<th>Thao Tác</th>
									</tr>
								</thead>
								<tbody id="building-list-tbody">
									<tr th:each="building : ${listBuildings}">
										<td class="center">
											<label class="pos-rel">
												<input type="checkbox" class="ace" th:value="${building.id}" />
												<span class="lbl"></span>
											</label>
										</td>
										<td th:text="${building.name}"></td>
										<td th:text="${building.address}"></td>
										<td th:text="${building.numberOfBasement}"></td>
										<td th:text="${building.managerName}"></td>
										<td th:text="${building.managerPhone}"></td>
										<td th:text="${building.floorArea}"></td>
										<td th:text="${building.rentArea}"></td>
										<td th:text="${building.emptyArea}"></td>
										<td th:text="${building.rentPrice}"></td>
										<td th:text="${building.serviceFee}"></td>
										<td th:text="${building.brokerageFee}"></td>
										<td>
											<div class="hidden-sm hidden-xs btn-group">
												<button class="btn btn-xs btn-success" th:onclick="'selectStaff(' + ${building.id} + ')'">
													<i class="ace-icon fas fa-user bigger-120"></i>
												</button>
												<a th:href="@{|/admin/buildings/${building.id}/update|}" class="btn btn-xs btn-info">
													<i class="ace-icon fas fa-pencil-alt bigger-120"></i>
												</a>
												<button class="btn btn-xs btn-danger" th:onclick="'deleteBuilding(' + ${building.id} + ')'">
													<i class="ace-icon fas fa-trash bigger-120"></i>
												</button>
											</div>
										</td>
									</tr>


								</tbody>
							</table>
						</div>
						<!-- /.span -->
					</div>
					<!-- /.page-content -->
				</div>
			</div>
			<!-- /.main-content -->
		</div>
		<!-- /.main-container -->
	</div>
	<th:block th:replace="~{admin/common/footer :: footer}"></th:block>
	<th:block th:replace="~{admin/common/common-scripts :: jquery}"></th:block>

	<script>
		function selectStaff(buildingId) {

			$("#modal-select-staff").modal("show");
			$("#assigned-building-id").val(buildingId);
			loadStaff(buildingId)

		}
	</script>

	<script>
		$('.widget-toolbar a[data-action="reload"]').click(function (e) {
			e.preventDefault();
			$("#form-search-building")[0].reset();
		});

		$("#btn-search-building").click(function (e) {
			searchBuildings();
		});


		$("#delete-buildings").click((e) => {

			e.preventDefault()
			buildingIds = []
			$("#building-list-table tbody input[type='checkbox']:checked").each(function () {
				buildingIds.push($(this).val());
			});
			if (buildingIds.length === 0) {
				alert("Chọn ít nhất 1 tòa nhà!");
				return;
			}
			deleteBuilding(buildingIds)
		})

		function deleteBuilding(id) {
			buildingIds = [id]
			deleteBuildings(buildingIds)
		}

		function deleteBuildings(buildingIds) {
			if (confirm("Chắc chắn xoá?")) {
				$.ajax({
					url: "/api/buildings/" + buildingIds.join(","),
					method: "DELETE",
					success: function () {
						alert("Tòa nhà đã được xóa thành công.");
						location.reload();
					},
					error: function (error) {
						console.error("Lỗi khi xóa tòa nhà:", error);
						alert("Đã xảy ra lỗi khi xóa.");
					},
				});
			}
		}


		const loadStaff = (buildingId) => {
			$.ajax({
				url: "/api/buildings/" + buildingId + "/staffs",
				method: "GET",
				success: function (response) {

					let row = ''

					$.each(response.data, (index, item) => {
						row += '<tr>'
						row += '<td class="center">'
						row += '<label class="pos-rel">'
						row += `<input type="checkbox" class="ace" value=${item.id} ${item.checked}>`
						row += '<span class="lbl"></span>'
						row += `<td class="center">${item.staffName}</td>`
						row += '</label>'
						row += '</td>'
						row += '</tr>'
					})
					$("#selectStaff tbody").html(row)
				},
				error: function (response) {
					alert(response.responseJSON.message.join('\n'));
				},
			});
		}


		$('#btn-assign-building').click((e) => {
			e.preventDefault();

			const data = {}
			const selectedStaffIds = []
			$("#selectStaff tbody input[type='checkbox']:checked").each(function () {
				const staffId = $(this).val()
				selectedStaffIds.push(staffId)
			})

			data["staffIds"] = selectedStaffIds
			data["buildingId"] = $("#assigned-building-id").val()

			$.ajax({
				url: "/api/buildings/assign",
				method: "POST",
				contentType: "application/json",
				data: JSON.stringify(data),
				success: function (response) {
					alert(response.message);
					$("#modal-select-staff").modal("hide");
				},
				error: function (error, response) {
					console.error("Lỗi khi giao tòa nhà:", error);
					$("#modal-select-staff").modal("hide");

					alert(response.message);
				},
			});
		})

	</script>
</body>

</html>